.wrapper {
  width: 570px;
  height: 840px;
  padding: 40px;
  border-radius: 10px;
  background: #838383;
  background: linear-gradient(
    0deg,
    rgba(131, 131, 131, 1) 5%,
    rgba(84, 84, 84, 1) 27%,
    rgba(153, 153, 153, 1) 67%,
    rgba(94, 99, 93, 1) 82%
  );
  margin: auto;
  margin-top: 10vh;
}
