@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "JH_FALLOUT";
  src: url(../app/assets/font/JH_FALLOUT.TTF);
}

@font-face {
  font-family: "r_fallouty";
  src: url(../app/assets/font/r_fallouty.ttf);
}

@font-face {
  font-family: "TT0807M_";
  src: url(../app/assets/font/TT0807M_.TTF);
}

p {
  caret-color: transparent;
  text-align: center;
  justify-content: center;
  font-family: "r_fallouty";
}
